:root {
  --color:#302961;
}
* {
    font-family: 'Playfare Display';
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  * ::selection {
    background: var(--pink);
    color: #fff;
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;

}
.header .logo {
    font-size: 2.5rem;
    color: #000;
}
.header .logo i {
    padding: 0 .5rem;
}
.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header .navbar ul li {
    margin: 0 1.5rem;
}
.header .navbar ul li a{
    font-size: 2rem;
    color: #000;
}
.header .navbar ul li a:hover {
    color: #ccc;
}
.header .fa-bars {
    color: #000;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

  .heading {
    font-size: 4rem;
    color: rgb(109, 83, 235);
    text-align: center;
    padding: 0 1rem;
    padding-top: 6rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #aaa;
    text-transform: capitalize;
  }
.committee {
    background: #f9f9f9;
  }
  .committee .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
  }
  .committee .card-container .card {
    padding: 2rem;
    margin: 2rem;
    background: #fff;
    text-align: center;
    width: 30rem;
    height: 47rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
  }
  .committee .card-container .card .niranjan {
    height: 32rem;
    width: 90%;
    object-fit: cover;
    transition: 0.2s;
  } 
  .committee .card-container .card img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    transition: 0.2s;
  }
  
  .committee .card-container .card:hover img {
    filter: grayscale();
  }
  .committee .card-container .card h3 {
    color: var(--color);
    padding: 0.5rem;
    font-size: 1.8rem;
  }
  .committee .card-container .card p {
    font-size: 1.6rem;
    color: #666;
  }
  .committee .card-container .card .icons a {
    font-size: 1.9rem;
    padding: 1.5rem 0.5rem;
    color: var(--color);
  }
  .committee .card-container .card .icons a:hover {
    color: var(--color);
  }
  .board-container {
    display: flex;
    justify-content: space-between;
  }

  .advisory-board {
    list-style-type:circle;
    padding: 20px;
    text-align: justify;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0;
    width: 48%;
  }

  .advisory-board li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .national-committee {
    background: #f9f9f9;
  }
  .national-committee .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
  }
  .national-committee .card-container .card {
    flex: 0 0 auto;
    padding: 2rem;
    margin: 4rem;
    background: #fff;
    text-align: center;
    width: 30rem;
    height: 38rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
  }
  .national-committee .card-container .card img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    transition: 0.2s;
  }
  
  .national-committee .card-container .card:hover img {
    filter: grayscale();
  }
  .national-committee .card-container .card h3 {
    color: var(--color);
    padding: 0.5rem;
    font-size: 1.8rem;
  }
  .national-committee .card-container .card p {
    font-size: 1.6rem;
    color: #666;
  }
  .footer {
    text-align: center;
  }
  .footer .icons {
    padding: 3rem 0;
  }
  .footer .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    color: rgb(244, 6, 113);
    border: 0.2rem solid rgb(244, 6, 113);
    font-size: 2rem;
    margin: 0 0.1rem;
    transition: 0.2s linear;
  }
  .footer .icons a:hover {
    color: #fff;
    background: var(--color);
    border-color: var(--color);
  }
  .footer .credit {
    font-size: 2rem;
    border-top: 0.1rem solid #999;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: #666;
    width: 90%;
    padding: 1rem 0;
    font-family: "Times New Roman", Times, serif;
    text-transform: lowercase;
  }
  .footer .credit span {
    color: var(--color);
    font-family: "Times New Roman", Times, serif;
    text-transform: lowercase;
  }
  

  @media(max-width:768px){
    html{
        font-size: 50%;
    }
    .header .fa-bars {
        display: block;
    }
    .header .navbar{
        position: fixed;
        top: -120%;
        left: 0;
        height: auto;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        border-top: .1rem solid rgba(0, 0, 0, 0.3);
    }
    .header .navbar ul {
        height: 100%;
        width: 100%;
        flex-flow: column;

    }
    .header .navbar ul li{
        margin: 1rem 0;
    }
    .header .navbar ul li a{
        color: #444;
        font-size: 2.4rem;
    }
    .header .fa-times{
        transform: rotate(180deg);
    }
    .header .nav-toggle {
        top: 5.8rem;
    }
  }